h1,
p {
  font-family: Lato;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}

.pentagon {
  position: relative;
  height: 50vh;
  width: 50vh;
}

.vertice {
  height: 1px;
  width: 1px;
  background-color: black;
  position: absolute;
}

.dot {
  font-size: 20px;
  position: absolute;
  font-weight: bold;
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
